// COLORS
$primaryColor: #3F51B5;
$primaryColorLight: #C5CAE9;
$primaryColorDark: #303F9F;

$accentColor: #03A9F4;

$white: #FFFFFF;
$black: #212121;
$greyLight: #BDBDBD;
$greyDark: #757575;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;