.root {
  @include respond(big-desktop) {
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 5rem;
  }
}

.App {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
    to right bottom,
    rgba($black, 0.8),
    rgba($black, 0.8)),
    url('./city-background-1502.jpg');
  background-size: 'cover';
  background-repeat: no-repeat;
  background-position: center;

  @include respond(big-desktop) {
    background-image: linear-gradient(
      to right bottom,
      rgba($black, 0.8),
      rgba($black, 0.8)),
      url('./city-background-1920.jpg');
    max-width: 1920px;
    max-height: 1280px;
  }

  @include respond(tab-land) {
    background-image: linear-gradient(
      to right bottom,
      rgba($black, 0.8),
      rgba($black, 0.8)),
      url('./city-background-1350.jpg');
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
      to right bottom,
      rgba($black, 0.8),
      rgba($black, 0.8)),
      url('./city-background-1080.jpg');
    flex-direction: column;
    background-position: top;
  }

  @include respond(phone) {
    background-image: linear-gradient(
      to right bottom,
      rgba($black, 0.8),
      rgba($black, 0.8)),
      url('./city-background-1502.jpg');
    flex-direction: column;
    background-position: top;
  }
}

.content {
  height: 100%;
  width: 60%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include respond(tab-port) {
    width: 100vw;
    height: auto;
  }
}

.form {
  display: flex;
  flex: 1;
  background-color: rgba($primaryColorDark, .9);
  flex-direction: column;
  padding: 5rem;
  align-items: center;
  justify-content: center;

  &--animated {
    animation: moveInRight 1s ease-out 1.5s;
    animation-fill-mode: backwards;
  }

  
  @include respond(min-tab-land) {
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
      display: flex;
      padding-left: 10rem;
    }
  }
}
