.App {
  // height: 100vh;
  // width: 100vw;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
    to right bottom,
    rgba($black, 0.8),
    rgba($black, 0.8)),
    url('./img/city-background-1502.jpg');
  background-size: 'cover';
  background-repeat: no-repeat;
  background-position: center;

  @include respond(big-desktop) {
    background-image: linear-gradient(
      to right bottom,
      rgba($black, 0.8),
      rgba($black, 0.8)),
      url('./img/city-background-1920.jpg');
  }

  @include respond(tab-land) {
    background-image: linear-gradient(
      to right bottom,
      rgba($black, 0.8),
      rgba($black, 0.8)),
      url('./img/city-background-1350.jpg');
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
      to right bottom,
      rgba($black, 0.8),
      rgba($black, 0.8)),
      url('./img/city-background-1080.jpg');
    flex-direction: column;
    background-position: top;
  }

  @include respond(phone) {
    background-image: linear-gradient(
      to right bottom,
      rgba($black, 0.8),
      rgba($black, 0.8)),
      url('./img/city-background-1502.jpg');
    flex-direction: column;
    background-position: top;
  }
}

.content {
  height: 100vh;
  width: 60vw;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include respond(tab-port) {
    width: 100vw;
    height: auto;
  }
}

.form {
  display: flex;
  flex: 1;
  background-color: rgba($primaryColorDark, .9);
  flex-direction: column;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  
  @include respond(min-tab-land) {
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100vh, 0 100%);
      clip-path: polygon(20% 0, 100% 0, 100% 100vh, 0 100%);
      height: 100vh;
      padding-left: 10rem;
    }
  }
}
